<!--The content below is only a placeholder and can be replaced.-->
<body>
  <div id="scene">

    <div class="card col-md-9 scroll" id="story">
      <div class="card-body">
        <p>There are things in this world that some of us weren't ever meant to see.</p>
        
        <p>Things like ghosts and the supernatural were things that were alright. Things that were easy to digest and
          easy to push away from the world as some crazy attention seeking gimic by a dying television network.</p>
        
        <p>That's what I thought as well.</p>

        <p>There was always the campfire ghost stories, always about someone that was dying, or wanted to return
          to the land of the living. How sad it must have been for those ghosts.</p>

        <p>That's what I remember last. A story of ghosts wandering around the very walls we were sitting in.
          A hospital, abandoned by time with a small fire of old hospital records illuminating the world around us.
          We laughed and we spoke about each individual we threw into the fire, giving them stories based off of the records we were given.
        </p>

        <p>'Mister Sam Huntington, with an infected injury from what he claims to be a wolf.'
          <br>
          'Experiences cases of schizophrenia, claiming that the spirit of the wolf he shot is chasing him.'
        </p>

        <p>We laughed at the imitation of our friend pretending to be an old crippled man, scared for his life of a ghost.</p>
      
        <p>Rocks scattered the floor, dancing their way in a circle around us as the ground shook as well. We stopped our jokes.</p>

        <p>And when I came to, I was alone.</p>
      </div>
    </div>

    <div class="card col-md-4" id="situation">
      <div class="card-body">
        <a [routerLink]="['/wake']">Wake up...</a>
      </div>
    </div>

  </div>

  </body>